<?xml version="1.0" encoding="euc-kr"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="threshold" value="DEBUG"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yy.MM.dd HH:mm:ss}] [%-5p]  [%t %C:%L ] - %m%n"/>
        </layout>
    </appender>

    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="threshold" value="DEBUG"/>
        <param name="file" value="../log/DB_DB_SEND_01/DB_DB_SEND_01.log"/>
        <param name="maxFileSize" value="1MB"/>
        <param name="maxBackupIndex" value="5"/>
        <param name="append" value="true"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!--param name="ConversionPattern" value="%d{ABSOLUTE} | %-5p | %-10t | %-24.24c{1} | %-30.30C %4L | %m%n"/-->

            <param name="ConversionPattern" value="[%d{yy.MM.dd HH:mm:ss}] [%-5p]  [%t %C:%L ] - %m%n"/>
        </layout>
    </appender>

	<logger name="com.indigo.indigomq">
        <level value="INFO"/>
    </logger>
    <logger name="com.indigo.indigomq.transport.InactivityMonitor">
        <level value="INFO"/>
    </logger>
    <logger name="com.indigo.indigomq.transport.discovery">
        <level value="INFO"/>
    </logger>
 	<logger name="com.mb.indigo2.imagent.CmcsDispatcher">
        <level value="INFO"/>
    </logger>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</log4j:configuration>